<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header> 
        <div id="logodiv">
            <a href="/"><img src="{% static 'img/Well-Oiled-Logo.png' %}" alt="well-oiled-logo" id="logo"></a>
            <p style="font-style: italic;">The scheduling solution for your technical workforce.</p>
        </div>
        <div id="headerlinkdiv">
            <a class="whitelink">Contact</a>
            <a class="whitelink" href="/logout">Logout</a>
        </div>
    </header><br>
    <h3>Documents</h3>
    <p>On this page, you'll find manuals, training material and other job-related documetation. </p>
    <h5>Manual</h5>
    <embed src="/static/dummy_doc_1.pdf" type="application/pdf" width="100%" height="60%">
    <h5>Job Checklist</h5>
    <embed src="/static/dummy_doc_2.pdf" type="application/pdf" width="100%" height="60%">
    <h5>Work Instruction</h5>
    <embed src="/static/dummy_doc_3.pdf" type="application/pdf" width="100%" height="60%">
    <footer>
        <p>.</p>
    </footer>
</body>
</html> 

