<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header> 
        <div id="logodiv">
            <a href="/"><img src="{% static 'img/Well-Oiled-Logo.png' %}" alt="well-oiled-logo" id="logo"></a>
            <p style="font-style: italic;">The scheduling solution for your technical workforce.</p>
        </div>
        <div id="headerlinkdiv">
            <a class="whitelink">Contact</a>
            <a class="whitelink" href="/logout">Logout</a>
        </div>
    </header><br>
    <h2>Pricing Tiers</h2>
    <p>Well-Oiled is free as a dang ole bird until the project is parced out!</p>
    <img src="/static/img/lucky_you.jpg" alt="lucky you!" style="height:400px;">
    <img src="/static/img/dr_steve_brule.gif" alt="Check it out: Dr. Steve Brule">
    <footer>
        <p>.</p>
    </footer>
</body>
</html>